openapi: 3.0.0
info:
  title: Admin as a Service (AaaS)
  version: v0.3.15
  description: This API connects to the modules of Digis.
  contact:
    name: Johan Boissard
    email: johan@nexys.ch
    url: 'https://nexys.ch'
  license:
    name: MIT
    url: 'https://opensource.org/license/mit/'
servers:
  - url: 'https://app.digis.ch/api'
paths:
  '/accounting/account/{date}/listUntil':
    post:
      summary: Entry list for a selected account until xxx-xx-xx
      tags:
        - accounting
      responses:
        '200':
          description: OK
      operationId: get-accounting-account-2018-12-31-listUntil
      description: 'same as `/account/list` but returns only until a given date. The date parameter is in the url and must be given in the ISO standard, e.g. 2019-10-30'
    parameters:
      - schema:
          type: string
        name: date
        in: path
        required: true
        description: placeholder
  /accounting/account/list:
    post:
      summary: Account list
      tags:
        - accounting
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'
              examples: {}
      operationId: get-accounting-account-list
      description: get the list of accounts and their balance
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
  /accounting/entry/list:
    post:
      summary: Entry list
      tags:
        - accounting
      responses:
        '200':
          description: OK
      operationId: get-accounting-entry-list
      description: returns all the entries in chronological order
  '/accounting/account/{accountId}/detail':
    post:
      summary: Account detail
      tags:
        - accounting
      operationId: 'get-accounting-account-:accountId-detail'
      description: lists the details of a chosen account. The id is always numerical.
      responses:
        '200':
          description: OK
    parameters:
      - schema:
          type: integer
        name: accountId
        in: path
        required: true
        description: id of account
  '/accounting/entry/{accountId}/list':
    post:
      summary: Entry list for a selected account
      tags:
        - accounting
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Entry'
      operationId: 'get-accounting-entry-:accountId-list'
      description: list of entries for the selected account.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
          application/xml:
            schema:
              type: object
              properties: {}
    parameters:
      - schema:
          type: integer
        name: accountId
        in: path
        description: account Id
        required: true
  /accounting/entry/insert:
    post:
      tags:
        - accounting
      summary: Entry insert
      operationId: post-accounting-entry-insert
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
      description: Creates a new entry
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntryInput'
  '/accounting/entry/{entryId}/update':
    post:
      tags:
        - accounting
      description: Updates an existing entry
      summary: Entry Update
      operationId: post-accounting-entry-930-update
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntryInput'
    parameters:
      - schema:
          type: integer
        name: entryId
        in: path
        required: true
        description: entry id
  /accounting/account/insert:
    post:
      tags:
        - accounting
      description: add a new account
      summary: ''
      operationId: post-accounting-account-insert
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountInput'
  '/accounting/account/{accountId}/update':
    post:
      description: updates an account
      tags:
        - accounting
      operationId: post-accounting-account-update
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountInput'
        description: ''
    parameters:
      - schema:
          type: integer
        name: accountId
        in: path
        required: true
        description: account id
  /company/list:
    post:
      description: fetches list of companies
      tags:
        - company
      summary: get list of companies
      operationId: post-company-list
      responses:
        '200':
          description: OK
  /company/detail:
    post:
      description: fetches list of companies
      tags:
        - company
      summary: get company
      operationId: get-company
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
              required:
                - uuid
  /company/insert:
    post:
      description: |-
        Insert a company/counterpart

        Note that, for now, Digis does not differentiate between the different types of counterpart (company, physical person etc)
      tags:
        - company
      summary: Insert a company
      operationId: insert-company
      responses:
        '200':
          $ref: '#/components/responses/Uuid'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  required:
                    - name
                  properties:
                    name:
                      type: string
              required:
                - data
            examples:
              Example 1:
                value:
                  data:
                    name: my company
      security:
        - Authorization: []
  /company/update:
    post:
      description: update company
      tags:
        - company
      summary: update company
      operationId: update-company
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  required:
                    - name
                  properties:
                    name:
                      type: string
                uuid:
                  type: string
              required:
                - data
                - uuid
  /company/delete:
    post:
      description: delete company
      tags:
        - company
      summary: delete company
      operationId: delete-company
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
              required:
                - data
                - uuid
  /address/list:
    post:
      description: fetches list of address for a company
      tags:
        - company
      summary: get list of addresses by company
      operationId: company-address-list
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    street:
                      type: string
                    city:
                      type: string
                    zip:
                      type: string
                    country:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                x-examples:
                  Example 1:
                    - id: 311
                      street: Route de Crassier 7
                      city: Eysins
                      zip: '1262'
                      country:
                        id: 1
                        name: Switzerland
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                Example 1:
                  company:
                    uuid: d39b7dd5-f747-11e8-a65d-fa163e41f33d
              properties:
                company:
                  type: object
                  required:
                    - uuid
                  properties:
                    uuid:
                      type: string
              required:
                - company
    parameters: []
  /address/detail:
    post:
      description: list company address
      tags:
        - company
      summary: get company address
      operationId: get-company-address
      responses:
        '200':
          description: OK
      requestBody:
        $ref: '#/components/requestBodies/Uuid'
    parameters: []
  /address/insert:
    post:
      description: |-
        insert an address. The address must be linked to a company.

        Note that the ids of countries are the following:
        1: Switzerland
        (2: France)

        For now, only Switzerland is fully supported.
      tags:
        - company
      summary: Insert an Address
      operationId: insert-company-address
      responses:
        '200':
          $ref: '#/components/responses/id'
      x-internal: false
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    street:
                      type: string
                    city:
                      type: string
                    zip:
                      type: string
                    country:
                      type: object
                      properties:
                        id:
                          type: integer
                    company:
                      type: object
                      properties:
                        uuid:
                          type: string
              x-examples:
                Example 1:
                  data:
                    street: rue des cerises 23
                    city: Montreux
                    zip: '1234'
                    country:
                      id: 1
                    company:
                      uuid: 1521d11d-fd45-11ed-82d4-42010aac0013
      security:
        - Authorization: []
      parameters: []
    parameters: []
  /address/update:
    post:
      description: update company address
      tags:
        - company
      summary: update company address
      operationId: update-company-address
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  required:
                    - name
                  properties:
                    name:
                      type: string
                uuid:
                  type: string
              required:
                - data
                - uuid
    parameters: []
  /address/delete:
    post:
      description: delete company address
      tags:
        - company
      summary: delete company address
      operationId: delete-company-address
      responses:
        '200':
          description: OK
      requestBody:
        $ref: '#/components/requestBodies/Uuid'
    parameters: []
  /invoice/list:
    post:
      tags:
        - invoice
      description: list of invoices
      summary: Invoices List
      operationId: post-invoice-list
      responses:
        '200':
          description: OK
  /invoice/detail:
    post:
      tags:
        - invoice
      summary: Invoice detail
      description: returns invoice detail
      operationId: post-invoice-detail
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    items:
                      - id: 696
                        name: fghj
                        description: null
                        amount: 17
                        price: 122
                        discount: null
                        discountAbs: null
                        currency: 1
                        fxRate: 0
                        logDateAdded: '2023-05-28T11:14:21.000Z'
                        invoice:
                          uuid: 155cd780-fd45-11ed-82d4-42010aac0013
                        project: null
                    totalWVat: 2233.7
                    total: 2074
                    subtotal: 2074
                    uuid: 155cd780-fd45-11ed-82d4-42010aac0013
                    currency: 1
                    sender: |-
                      Alphagrain AG
                      Rigistrasse 2
                      6300 Zug
                      Switzerland
                    key: Y9yQwVzBGI9bTW7wydn0zA==
                    statusId: 1
                    refNumberInt: 1822
                    langId: 1
                    additionalInformation: '-'
                    date: '2023-05-28T10:47:47.000Z'
                    dateDue: '2023-06-27T00:00:00.000Z'
                    logDateAdded: '2023-05-28T10:47:47.000Z'
                    vat: 0.077
                    vatIncluded: null
                    discount: null
                    discountAbs: null
                    paymentUrl: null
                    instance:
                      uuid: c58b8894-2cfd-11ed-8130-42010aac000a
                    address:
                      id: 449
                      street: sdf
                      zip: '123'
                      city: sdf
                      company:
                        uuid: 1521d11d-fd45-11ed-82d4-42010aac0013
                        name: testest
                    project: null
                    paymentProfile:
                      id: 574
                      type: 2
                      iban: CH6130767000R55483324
                      bankingReferenceNumber: null
                      account:
                        id: 4987
                        number: 2000
                        name: Payable
                    productAccount:
                      id: 4987
                      name: Payable
                      number: 2000
                    id: 155cd780-fd45-11ed-82d4-42010aac0013
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        description:
                          nullable: true
                        amount:
                          type: integer
                        price:
                          type: integer
                        discount:
                          nullable: true
                        discountAbs:
                          nullable: true
                        currency:
                          type: integer
                        fxRate:
                          type: integer
                        logDateAdded:
                          type: string
                        invoice:
                          type: object
                          properties:
                            uuid:
                              type: string
                        project:
                          nullable: true
                  totalWVat:
                    type: number
                  total:
                    type: integer
                  subtotal:
                    type: integer
                  uuid:
                    type: string
                  currency:
                    type: integer
                  sender:
                    type: string
                  key:
                    type: string
                  statusId:
                    type: integer
                  refNumberInt:
                    type: integer
                  langId:
                    type: integer
                  additionalInformation:
                    type: string
                  date:
                    type: string
                  dateDue:
                    type: string
                  logDateAdded:
                    type: string
                  vat:
                    type: number
                  vatIncluded:
                    type: boolean
                    nullable: true
                  discount:
                    type: number
                    nullable: true
                  discountAbs:
                    type: number
                    nullable: true
                  paymentUrl:
                    type: string
                    nullable: true
                  instance:
                    type: object
                    properties:
                      uuid:
                        type: string
                    required:
                      - uuid
                  address:
                    type: object
                    properties:
                      id:
                        type: integer
                      street:
                        type: string
                      zip:
                        type: string
                      city:
                        type: string
                      company:
                        type: object
                        required:
                          - uuid
                        properties:
                          uuid:
                            type: string
                          name:
                            type: string
                    required:
                      - id
                      - street
                      - zip
                      - city
                      - company
                  project:
                    type: integer
                    nullable: true
                  paymentProfile:
                    type: object
                    properties:
                      id:
                        type: integer
                      type:
                        type: integer
                      iban:
                        type: string
                      bankingReferenceNumber:
                        type: string
                      account:
                        type: object
                        properties:
                          id:
                            type: integer
                          number:
                            type: integer
                          name:
                            type: string
                  productAccount:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      number:
                        type: integer
                  id:
                    type: string
                required:
                  - totalWVat
                  - total
                  - subtotal
                  - uuid
                  - currency
                  - key
                  - statusId
                  - refNumberInt
                  - langId
                  - date
      requestBody:
        $ref: '#/components/requestBodies/Uuid'
  /invoice/update:
    post:
      tags:
        - invoice
      summary: Update invoice
      description: update invoice
      operationId: post-invoice-update
      responses:
        '200':
          description: OK
  /invoice/delete:
    post:
      tags:
        - invoice
      summary: Invoice Delete
      description: delete invoice
      operationId: post-invoice-delete
      responses:
        '200':
          description: OK
      requestBody:
        $ref: '#/components/requestBodies/Uuid'
  /invoice/insert:
    post:
      tags:
        - invoice
      summary: Invoice insert
      description: insert invoice
      operationId: post-invoice-insert
      responses:
        '200':
          $ref: '#/components/responses/Uuid'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                Example 1:
                  data:
                    address:
                      id: 449
              properties:
                data:
                  type: object
                  required:
                    - address
                  properties:
                    address:
                      type: object
                      required:
                        - id
                      properties:
                        id:
                          type: integer
                    items:
                      type: array
                      x-stoplight:
                        id: qjm26c7q8s761
                      items:
                        x-stoplight:
                          id: d2atodbxtf0sj
                        type: object
                        properties:
                          label:
                            type: string
                            x-stoplight:
                              id: msov6lobfdnft
                          quantity:
                            type: number
                            x-stoplight:
                              id: 9ln3bxkovhyx5
                          rate:
                            type: number
                            x-stoplight:
                              id: ouh9nc8xvfthq
                          discount:
                            type: number
                            x-stoplight:
                              id: ggyt9hyfhnypa
                          discountAbs:
                            type: number
                            x-stoplight:
                              id: 82nx0l3hfmxcs
                        required:
                          - label
                          - quantity
                          - rate
                    vat:
                      type: number
                      x-stoplight:
                        id: tdazu1mqpu413
                    dueDate:
                      type: string
                      x-stoplight:
                        id: mnkr1qltb57c0
                      description: 'in iso format: 2023-06-30'
                    vatIncluded:
                      type: boolean
                      x-stoplight:
                        id: auoda3aywuncb
                      description: 'whether the vat is included or added (default: `false`)'
                '':
                  type: string
                  x-stoplight:
                    id: xj767j5ftsx9o
              required:
                - data
        description: ''
  /invoice/item/list:
    post:
      summary: Invoice item list
      operationId: post-invoice-item-list
      responses:
        '200':
          description: OK
      description: invoice item list
      requestBody:
        $ref: '#/components/requestBodies/Uuid'
      tags:
        - invoice
  /invoice/item/detail:
    post:
      summary: Invoice item detail
      operationId: post-invoice-item-detail
      responses:
        '200':
          description: OK
      description: Invoive item detail
      requestBody:
        $ref: '#/components/requestBodies/Uuid'
      tags:
        - invoice
  /invoice/item/insert:
    post:
      description: invoice item insert
      summary: Invoice item insert
      operationId: post-invoice-item-insert
      responses:
        '200':
          description: OK
      tags:
        - invoice
  /invoice/item/update:
    post:
      summary: Invoice item update
      operationId: post-invoice-item-update
      responses:
        '200':
          description: OK
      description: Invoice item update
      tags:
        - invoice
  /invoice/item/delete:
    post:
      summary: Invoice item delete
      operationId: post-invoice-item-delete
      responses:
        '200':
          description: OK
      description: Invoice item delete
      requestBody:
        $ref: '#/components/requestBodies/Uuid'
      tags:
        - invoice
  /invoice/pdf:
    post:
      summary: Invoice PDF
      operationId: post-invoice-pdf
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
            application/pdf:
              schema:
                type: object
                properties: {}
        '201':
          description: Created
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                lang:
                  type: string
                onlyReceipt:
                  type: boolean
              x-examples:
                Example 1:
                  uuid: 155cd780-fd45-11ed-82d4-42010aac0013
                  lang: EN
                  onlyReceipt: false
      description: get PDF of selected invoice
      tags:
        - invoice
  /payment-profile/list:
    post:
      summary: Payment Profile list
      operationId: post-payment-profile-list
      responses:
        '200':
          description: OK
      description: Payment Profile list
      tags:
        - payment profile
      requestBody:
        $ref: '#/components/requestBodies/Uuid'
  /payment-profile/detail:
    post:
      summary: Payment Profile detail
      operationId: post-payment-profile-detail
      responses:
        '200':
          description: OK
      description: Payment Profile detail
      tags:
        - payment profile
      requestBody:
        $ref: '#/components/requestBodies/Uuid'
  /payment-profile/insert:
    post:
      summary: Payment Profile insert
      operationId: post-payment-profile-insert
      responses:
        '200':
          description: OK
      description: Payment Profile insert
      tags:
        - payment profile
      requestBody:
        $ref: '#/components/requestBodies/Payment-Profile'
  /payment-profile/archive:
    post:
      summary: Payment Profile archive
      operationId: post-payment-archive-delete
      responses:
        '200':
          description: OK
      description: Payment Profile archive
      tags:
        - payment profile
      requestBody:
        $ref: '#/components/requestBodies/Uuid'
  /payment-profile/delete:
    post:
      summary: Payment Profile delete
      operationId: post-payment-profile-delete
      responses:
        '200':
          description: OK
      description: Payment Profile delete
      tags:
        - payment profile
      requestBody:
        $ref: '#/components/requestBodies/Uuid'
  /file/serve:
    post:
      summary: File Serve
      operationId: post-file-serve
      responses:
        '200':
          description: OK
      description: Serve file
      tags:
        - file
  /file/upload:
    post:
      summary: File Upload
      operationId: post-file-upload
      responses:
        '200':
          description: OK
      description: Upload a new file
      tags:
        - file
  /mail/insert:
    post:
      summary: Mail Insert
      operationId: post-mail-insert
      responses:
        '200':
          description: OK
      tags:
        - mail
      description: Insert a new mail item
  /mail/list:
    post:
      summary: Mail List
      tags:
        - mail
      operationId: get-mail-list
      description: list of mails
      responses:
        '200':
          description: OK
  /mail/archive:
    post:
      summary: Mail Archive
      operationId: post-mail-archive
      responses:
        '200':
          description: OK
      description: Set mail to archive and link entities
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                company:
                  type: object
                  required:
                    - uuid
                  properties:
                    uuid:
                      type: string
              required:
                - company
      tags:
        - mail
  /mail/toPayable:
    post:
      summary: Mail to Payable
      operationId: post-mail-toPayable
      responses:
        '200':
          description: OK
      description: moves mail to "processed" and create payable (and execute payment)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                company:
                  type: object
                  required:
                    - uuid
                    - paymentProfile
                  properties:
                    uuid:
                      type: string
                    paymentProfile:
                      type: object
                      required:
                        - iban
                      properties:
                        iban:
                          type: string
                          description: 'iban of the payment, this can either be a qr iban or regular'
                        bic:
                          type: string
                        referenceNumber:
                          type: string
                bankAccount:
                  type: object
                  required:
                    - uuid
                  properties:
                    uuid:
                      type: string
              required:
                - company
                - bankAccount
      tags:
        - mail
  /mail/statusChange:
    post:
      summary: Mail Status Change
      operationId: post-mail-statusChange
      responses:
        '200':
          description: OK
      description: Change the status of a mail. Beware not all possibilities are possible since there are business rules that will prevent some actions
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  description: uuid of the mail
                status:
                  type: integer
              required:
                - uuid
                - status
      tags:
        - mail
  /auth/login:
    post:
      summary: Login
      operationId: post-auth-login
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                instance:
                  type: object
                  required:
                    - uuid
                  properties:
                    uuid:
                      type: string
                username:
                  type: string
                password:
                  type: string
              required:
                - instance
                - username
                - password
        description: 'login via username and password: should favor oauth'
      tags:
        - auth
      description: login user the standard way
  /auth/signup:
    post:
      summary: Signup
      operationId: post-auth-signup
      responses:
        '200':
          description: OK
      description: |-
        User signup
        Note: this is a standard signup, oauth/sso should be favored
      tags:
        - auth
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                instance:
                  type: object
                  required:
                    - name
                    - uuid
                  properties:
                    name:
                      type: string
                    uuid:
                      type: string
                username:
                  type: string
                password:
                  type: string
              required:
                - instance
                - username
                - password
  /user/invite:
    post:
      summary: User Invite
      operationId: post-user-invite
      responses:
        '200':
          description: OK
      description: Invite a new user to the instance
      tags:
        - user
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                permissions:
                  type: array
                  description: pass the list of permissions the new user is granted with
                  items:
                    type: integer
              required:
                - email
                - permissions
  /user/invitation/accept:
    post:
      tags:
        - auth
      summary: User Invitation Accept
      operationId: post-user-invitation-accept
      responses:
        '200':
          description: OK
      description: when new user signs up via invitation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  type: string
                user:
                  type: object
                  properties:
                    uuid:
                      type: string
                '':
                  type: string
  /user/list:
    post:
      tags:
        - auth
      summary: User list
      operationId: post-user-list
      responses:
        '200':
          description: OK
      description: List of user
  /auth/logout:
    get:
      summary: logout
      tags:
        - auth
      responses:
        '200':
          description: OK
      operationId: get-auth-logout
      description: 'log out user, and revoke token'
  /invoice/status/change:
    post:
      summary: Invoice status change
      operationId: post-invoice-status-change
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    update:
                      success: true
                      updated: 1
                    entry:
                      id: 3125
                properties:
                  update:
                    type: object
                    required:
                      - success
                      - updated
                    properties:
                      success:
                        type: boolean
                      updated:
                        type: integer
                  entry:
                    type: object
                    required:
                      - id
                    properties:
                      id:
                        type: integer
                required:
                  - update
                  - entry
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                Example 1:
                  uuid: 043bfdd4-fd45-11ed-82d4-42010aac0013
                  status: 2
              properties:
                uuid:
                  type: string
                status:
                  type: integer
                  description: '1: pending, 2: sent, 3: paid'
              required:
                - uuid
                - status
        description: pass uuid and new status
      tags:
        - invoice
      description: changes the status of an invoice
      security:
        - Authorization: []
  /meta/version:
    get:
      summary: get meta (version)
      tags:
        - meta
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    sha: 37c6700f83aea2be0e713c5c4f3b4110b8d54cea
                    version: v0.3.15
                    date: '2023-06-16T10:47:32.524Z'
                properties:
                  sha:
                    type: string
                  version:
                    type: string
                  date:
                    type: string
                required:
                  - sha
                  - version
                  - date
      operationId: get-meta-version
      description: 'Meta data about the API: version, deployed date and sha'
components:
  schemas:
    Account:
      title: Account
      type: object
      description: Main account entity
      properties:
        id:
          type: string
        name:
          type: string
        number:
          type: number
        accountType:
          type: object
          properties:
            name:
              type: string
        currency:
          type: object
          properties:
            name:
              type: string
        total:
          type: number
        nTransactions:
          type: integer
    Entry:
      title: Entry
      type: object
      properties:
        id:
          type: integer
        entryId:
          type: integer
        number:
          type: string
        direction:
          type: string
        description:
          type: string
        date:
          type: string
        currency:
          type: object
        account:
          type: object
        total:
          type: number
        csum:
          type: number
          description: the amount in the parent account until this transaction
        entity:
          type: object
    EntryInput:
      title: EntryInput
      type: object
      properties:
        date:
          type: string
        credit:
          type: array
          items:
            type: object
            properties:
              amount:
                type: number
              accountId:
                type: integer
        debit:
          type: array
          items:
            type: object
            properties:
              amount:
                type: number
              accountId:
                type: integer
        name:
          type: string
    AccountInput:
      title: AccountInput
      type: object
      properties:
        currency:
          type: object
          properties:
            id:
              type: number
        accountType:
          type: object
          properties:
            id:
              type: number
        name:
          type: string
        number:
          type: string
  securitySchemes:
    Authorization:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: ''
          tokenUrl: ''
          refreshUrl: ''
          scopes: {}
  requestBodies:
    Uuid:
      content:
        application/json:
          schema:
            type: object
            properties:
              uuid:
                type: string
                description: UUID
            required:
              - uuid
      description: filter by UUID
    Payment-Profile:
      content:
        application/json:
          schema:
            type: object
            properties:
              type:
                type: number
              company:
                type: object
                properties:
                  uuid:
                    type: string
                required:
                  - uuid
              account:
                type: object
                properties:
                  id:
                    type: number
                required:
                  - id
              referenceNumber:
                type: string
            required:
              - type
  parameters: {}
  responses:
    id:
      description: Return id of created object
      content:
        application/json:
          schema:
            type: object
            properties:
              id:
                type: integer
            x-examples:
              Example 1:
                id: 449
        application/xml:
          schema:
            type: object
            properties:
              id:
                type: integer
            x-examples:
              Example 1:
                id: 449
    Uuid:
      description: Uuid of created object
      content:
        application/json:
          schema:
            type: object
            properties:
              uuid:
                type: string
            x-examples:
              Example 1:
                uuid: 1521d11d-fd45-11ed-82d4-42010aac0013
          examples:
            Example 1:
              value:
                uuid: 1521d11d-fd45-11ed-82d4-42010aac0013
tags:
  - name: accounting
    description: accounting endpoints
  - name: address
    description: address endpoints
  - name: auth
    description: auth
  - name: company
    description: company endpoints
  - name: file
    description: file endpoints
  - name: invoice
    description: invoice endpoints
  - name: mail
    description: mail endpoints
  - name: payment profile
    description: payment profile endpoints
  - name: user
    description: user endpoints
  - name: meta
    description: meta endpoints
security:
  - Authorization: []
